<h1 class="page-header text-uppercase">Sport Event : <%= @sport_event.sport %> => <%= @sport_event.event_name %></h1>

<h3>Date : <%= @sport_event.event_date %></h3>

<h3>Arbitrage Scenario : <%= @sport_event.scenario_name %></h3>

<p>
  <strong>Team first:</strong>
  <%= @sport_event.team_first %>
</p>

<p>
  <strong>Team second:</strong>
  <%= @sport_event.team_second %>
</p>

<h2 class="page-header"> Sport Trades (<%= @sport_trades.count %>)</h2>
<%= render partial: "sport_trades/sport_trades_odds_list", locals: {sport_event: @sport_event} %>

<h2 class="page-header"> Trades Analysis</h2>
<% @sport_event.get_odd_names.each do |name| %>
Best Odd for <strong><%= name %></strong> : <strong><%= @sport_event.best_odd_for(name).value %></strong> <%= @sport_event.best_odd_for(name).sport_trade.platform_name %><br />
<% end %>
<hr />

<h3>Inverse Sum : <%= @sport_event.get_inverse_sum %></h3>

<hr />
