
<div class="text-left">
	<%= form_tag("", method: "get", class: "form-inline") do %>

	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon">
				First Team
			</div>

			<%= text_field_tag :first_team, params[:first_team],prompt: "Nom equipe 1", class: 'form-control'  %>
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon">
				Second Team
			</div>

			<%= text_field_tag :second_team, params[:second_team],prompt: "Nom equipe 2", class: 'form-control'  %>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon">
				Ordre
			</div>

			<%= select_tag(:order, options_for_select([["Created_at", "created_at-desc"], ["Event Date", "event_date-desc"]], params[:order]),prompt: "Ordre", class: 'form-control' ) %>
		</div>
	</div>

	<%= submit_tag("Rechercher", class: "btn btn-info") %>
	<% end %>
</div>



<div class="row">
		<div class="text-center pagination-hd">
			<%= will_paginate football_events, renderer: BootstrapPagination::Rails  %>
		</div>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Event name</th>
      <th>Event date</th>
      <th>Team first</th>
      <th>Team second</th>
      <th>Nombre de Trades</th>
			<th>
				Inverse Ratio
			</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% football_events.each do |football_event| %>
      <tr>
        <td><%= link_to football_event.event_name, football_event %></td>
        <td><%= football_event.event_date %></td>

        <td><%= football_event.team_first %></td>
        <td><%= football_event.team_second %></td>
        <td><%= football_event.football_trades.count %></td>
				<td>
					<%= football_event.inverse_sum %>
				</td>
        <td><%= link_to 'Voir', football_event %></td>
        <td><%= link_to 'Edit', edit_football_event_path(football_event) %></td>
        <td><%= link_to 'Destroy', football_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="row">
		<div class="text-center pagination-hd">
			<%= will_paginate football_events, renderer: BootstrapPagination::Rails  %>
		</div>
</div>
