<h1 class="page-header text-uppercase">  <%= @football_event.event_name %></h1>

<h3>Date : <%= @football_event.event_date %></h3>

<p>
  <strong>Event time:</strong>
  <%= @football_event.event_time %>
</p>
<p>
  <strong>Championship:</strong>
  <%= @football_event.championship %>
</p>


<div class="row">
  <div class="col-md-6">
    <h3 class="text-uppercase">Equipe 1 :<%= @football_event.team_first %> </h3>
  </div>
  <div class="col-md-6">
    <h3 class="text-uppercase">Equipe 2 :<%= @football_event.team_second %> </h3>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <h2>Liste de tous les trades pour l'événement (<%= @football_trades.count %> )</h2>

    <%= render partial: "football_trades/football_trades_list", locals:{ football_trades: @football_trades} %>


  </div>
</div>
<hr />

<div class="row">
  <div class="col-md-12">
    <h2>Optimisation</h2>

    <p>
      Meilleur ratio equipe 1 : <%= @football_event.best_first_ratio %>
    </p>
    <p>
      Meilleur ratio equipe 1 : <%= @football_event.best_both_ratio %>
    </p>
    <p>
      Meilleur ratio equipe 1 : <%= @football_event.best_second_ratio %>
    </p>
    <h4>Somme inverse : <%= @football_event.inverse_sum %> </h4>


  </div>
</div>
<hr />
