
<h1 class="page-header">Lié à l'event : <%= link_to @football_trade.football_event.event_name, @football_trade.football_event %></h1>


<h3>
  <strong>Bet platform name:</strong>
  <%= @football_trade.bet_platform_name %>
</h3>

<p>
  <strong>Bet platform url:</strong>
  <%= link_to @football_trade.bet_platform_url %>
</p>

<p>
  <strong>Team first name:</strong>
  <%= @football_trade.team_first_name %>
</p>

<p>
  <strong>Team second name:</strong>
  <%= @football_trade.team_second_name %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @football_trade.event_date %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @football_trade.event_time %>
</p>

<p>
  <strong>First winning ratio:</strong>
  <%= @football_trade.first_winning_ratio %>
</p>

<p>
  <strong>Both winning ratio:</strong>
  <%= @football_trade.both_winning_ratio %>
</p>

<p>
  <strong>Second winning ratio:</strong>
  <%= @football_trade.second_winning_ratio %>
</p>

<p>
  <strong>Inverse Sum : </strong>
  <%= @football_trade.inverse_sum %>
</p>

<p>
  <strong>Last update:</strong>
  <%= @football_trade.last_update %>
</p>
