<%= form_for(@tennis_trade) do |f| %>
  <% if @tennis_trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tennis_trade.errors.count, "error") %> prohibited this tennis_trade from being saved:</h2>

      <ul>
      <% @tennis_trade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bet_platform_name %><br>
    <%= f.text_field :bet_platform_name %>
  </div>
  <div class="field">
    <%= f.label :bet_platform_url %><br>
    <%= f.text_area :bet_platform_url %>
  </div>
  <div class="field">
    <%= f.label :team_first_name %><br>
    <%= f.text_field :team_first_name %>
  </div>
  <div class="field">
    <%= f.label :team_second_name %><br>
    <%= f.text_field :team_second_name %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.date_select :event_date %>
  </div>
  <div class="field">
    <%= f.label :event_time %><br>
    <%= f.text_field :event_time %>
  </div>
  <div class="field">
    <%= f.label :first_ratio %><br>
    <%= f.text_field :first_ratio %>
  </div>
  <div class="field">
    <%= f.label :second_ratio %><br>
    <%= f.text_field :second_ratio %>
  </div>
  <div class="field">
    <%= f.label :sport_event_id %><br>
    <%= f.text_field :sport_event_id %>
  </div>
  <div class="field">
    <%= f.label :last_update %><br>
    <%= f.datetime_select :last_update %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
